PROJECT_ID = '{{ lookup("env", "PROJECT_ID") }}'
CLOUDSQL_USER = '{{ lookup("env", "CLOUDSQL_USER") }}'
CLOUDSQL_PASSWORD = '{{ lookup("env", "CLOUDSQL_PASSWORD") }}'
CLOUDSQL_DATABASE = '{{ lookup("env", "CLOUDSQL_DATABASE") }}'
CLOUDSQL_CONNECTION_NAME = '{{ lookup("env", "CLOUDSQL_CONNECTION_NAME") }}'
CLOUD_STORAGE_BUCKET = '{{ lookup("env", "CLOUD_STORAGE_BUCKET") }}'
GOOGLE_OAUTH2_CLIENT_ID = '{{ lookup("env", "GOOGLE_OAUTH2_CLIENT_ID") }}'
GOOGLE_OAUTH2_CLIENT_SECRET = '{{ lookup("env", "GOOGLE_OAUTH2_CLIENT_SECRET") }}'
DATA_BACKEND = '{{ lookup("env", "DATA_BACKEND") }}'
